  <!-- Top component -->
<div class="container-flex bg-dark">

  <div class="container py-3">
    <h2 class="text-center">Presupuesto Disponible</h2>
    <h1 class="text-center mb-4">{{getPresupuesto() | currency:"COL":"$":"1.0-2"}}</h1>
    
    <div class="row mb-1">
      
      <div class="col-10 col-md-7 col-lg-5 mx-auto bg-success mb-3 resumen">
        <div class="row py-2">
          <div class="col-6 col-md-7 d-flex">
            <h6 class="my-auto">INGRESOS TOTALES</h6>
          </div>
          <div class="col-6 col-md-5">
            <p class="my-auto">+{{getIngresoTotal() | currency:"COL":"$":"1.0-2"}}</p>
          </div>
        </div>
      </div>
    </div>
      
    <div class="row mb-4">
      <div class="col-10 col-md-7 col-lg-5 mx-auto bg-danger resumen">
        <div class="row py-2">
          <div class="col-6 col-md-7 d-flex">
            <h6 class="my-auto">EGRESOS TOTALES</h6>
          </div>
          <div class="col-6 col-md-5 d-flex">
            <p class="my-auto">-{{getEgresoTotal() | currency:"COL":"$":"1.0-2"}}</p>
            <p class="badge rounded-pill bg-info p-2 my-auto mx-auto">{{getPorcentajeTotal() | percent}}</p>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
<!-- End Top Component -->


<div class="flex-container form-container ">
  <div class="container">
<!-- Form Component -->
  <app-formulario [presupuestoTotal]="getPresupuesto()"></app-formulario>
<!-- End Form Component -->
  </div>
</div>

<div class="container">

  <div class="row">

    <!-- Ingresos Component -->
    <app-ingresos class="col-12 col-md-6"></app-ingresos>
    <!-- End Ingresos Component -->
        
    <!-- Ingresos Component -->
    <app-egresos class="col-12 col-md-6" [ingresosTotales]="getIngresoTotal()"></app-egresos>
    <!-- End Ingresos Component -->
      
  </div>
      

</div>
